.vs
/Debug
XamarinFlex/XamarinFlex.Android/bin
XamarinFlex/XamarinFlex.Android/obj
XamarinFlex/XamarinFlex.iOS/obj
XamarinFlex/XamarinFlex/obj
XamarinFlex/XamarinFlex/bin
XamarinFlex/XamarinFlex.iOS/bin
XamarinFlex/XamarinFlex.DataModel/obj
